.nav{
    background-color:#ffffff;
}
nav {
    display: flex;
    margin-left: 100px;
    margin-top: -20px;
}

.people-category{
    margin-top: 25px;
    
}
.nav-list{
    margin-left: -25px;
    display: flex;
    margin-top: 35px;
}
.btnRegister{
   background-color:#b10d54;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: 60px;
    margin-left: -3%;
    margin-top: 6%;

}
.btnRegiste{
     border-radius: 30px;
     width: 120px;
     height: 40px;
     outline: none;
     text-decoration: none;
     cursor: pointer;
     font-weight: 60px;
     margin-left: 30px;
 }
.nav-list a{
    padding: 20px;
    color: #B10D2F;
    margin-top:50px ;
    text-decoration: none;
}

.nav-search{
    margin-left: 38%;
    margin-top: 50px;
}

.nav-search input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
}

nav img{
    width: 60px;
    height: 60px;
}

.landing-page{
    display: flex;
    background-color: #D7727C;
    width: 90%;
    height: 400px;
    margin: 70px;
	  
}

.intro{
    margin-left: 110px;
    color: #ffffff;
    margin-top: 70px;
}

.intro h1{
    margin-left: 40px;
    font-size: 60;
}

.intro p{
    margin-left: -30px;
}
.image{
    margin-left: 250px;
    width: 500px;
}

.top-categories{
    margin-left: 10%;
}

.top-categories h1{
    margin-left: -12%;
    color: #D7727C;
}
.parag-one{
    margin-left: -18%;
}
.parag-two{
    margin-left:  -15%;
}
.cloth-categories{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;    
}
.clothes img{
    width:120px;
    height: 120px;
    border-radius: 50%;
    background-color: #EFEFEF;
    margin-left: 12%;
}

.clothes p{
    margin-left: 28%;
}